
@{
	@model testapp.Models.InventoryDto
	var inventory = Model;

	<h1>Are you sure you want to delete this Inventory Entry? @inventory.Username @inventory.ItemName @inventory.Quantity</h1>

	<form method="post" action="/InventoryPage/Delete/@inventory.Id">
	
	<button type="submit">Delete</button>
	</form>
}
