
@{
	@model testapp.Models.InventoryDto
	var inventory = Model;

	<h1>Inventory Row Details: @inventory.Id @inventory.ItemName</h1>
	<a href="/InventoryPage/ConfirmDelete/@inventory.Id">Delete This Inventory Entry</a>
}
