@{

    @model IEnumerable<InventoryDto>

    <ul>
        @foreach (var Inventory in Model)
        {
            <li><a href="/InventoryPage/Details/@Inventory.Id">Username: @Inventory.Username Item: @Inventory.ItemName Quantity: @Inventory.Quantity</a></li>
        }
    </ul>
}
