@{

    @model IEnumerable<InventoryDto>

	<a href="/InventoryPage/New">Add New Inventory Entry</a>

	<h2>Inventory</h2>

    <ul>
        @foreach (var Inventory in Model)
        {
            <li><a href="/InventoryPage/Details/@Inventory.Id">Username: @Inventory.Username Item: @Inventory.ItemName Quantity: @Inventory.Quantity</a></li>
        }
    </ul>
}
