
@{
	<h1>Create a new inventory Entry: </h1>

	<form id="newInventory" method="post" action="/InventoryPage/Create">
		<label for="userid">User ID: </label>
		<input name="userid" id="userid" type="number" />
		<label for="itemid">Item ID: </label>
		<input name="itemid" id="itemid" type="number" />
		<label for="quantity">Quantity: </label>
		<input name="quantity" id="quantity" type="number" />
		<button type="submit">Create Inventory Entry</button>
	</form>

}
