@{
    ViewData["Title"] = "Home Page";
}



<h1>Solterra Content Management System</h1>

<p>Welcome to the Solterra Content Management System. This is a simple example of a CMS that allows you to manage items, item types, and inventory. You can navigate to the different sections of the CMS using the links below.</p>

<a href="/UserPage/List">Users</a>
<p>Access User information, Specific User inventory</p>


<a href="/InventoryPage/Lst">Inventory For all Users</a>
<p>Access Inventory Information, Add, Edit, and Delete inventory entries</p>

<a href="/ItemPage/List">Items</a>
<p>Access Item information, Add, Edit, and Delete items. Link/Unlink item types</p>


<a href="/ItemTypePage/List">Item Types</a>
<p>Access Item Type information, Add, Edit, and Delete item types</p>