
@{
	@model testapp.Models.Item
	var item = Model;

	<h1>Are you sure you want to delete this Item? @item.Name</h1>

	<form method="post" action="/ItemPage/Delete/@item.Id">

		<button type="submit">Delete</button>
	</form>
}
