
@{

	<h1>Edit an Item</h1>
	<form id="editItem" method="post" action="/ItemPage/EditItem">
		<label for="itemid">Item ID:	</label>
		<input name="id" id="id" type="number" />
		<label for="name">Name: </label>
		<input name="name" id="name" type="text" />
		<label for="description">Description: </label>
		<input name="description" id="description" type="text" />
		<label for="value">Value: </label>
		<input name="value" id="value" type="number" />
		<button type="submit">Edit Item</button>
	</form>
}
