
@{

    @model IEnumerable<Item>

	<a href="/ItemPage/New">Create New Item</a>

	<h2>Items</h2>

    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/ItemPage/Details/@item.Id">@item.Name</a></li>
        }
    </ul>
}
