
@{

    @model IEnumerable<Item>
	<h3>Actions</h3>
	<a href="/ItemPage/New">Create New Item</a>
    <a href="/">Back to Home</a>

	<h3>Items</h3>

    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/ItemPage/Details/@item.Id">@item.Name</a></li>
        }
    </ul>
}
