@{


	<h1>Create a New item</h1>

	<form id="createItemForm" method="post" action="/ItemPage/Create">
		<label for="name" >Name: </label>
		<input name="name" id="name" type="text"/>
		<label for="description">Description: </label>
		<input name="description" id="description" type="text" />
		<label for="value">Value: </label>
		<input name="value" id="value" type="number" />
		<button type="submit">Create Item</button>


	</form>
}