
@{
	@model testapp.Models.ItemType
	var itemType = Model;

	<h1>Are you sure you want to delete this Item? @itemType.Type</h1>

	<form method="post" action="/ItemTypePage/Delete/@itemType.Id">

		<button type="submit">Delete</button>
	</form>
}
