@{

    @model IEnumerable<ItemType>

	<a href="/ItemTypePage/New">Create New Item Type</a>

	<h2>Item Types</h2>

    <ul>
        @foreach (var type in Model)
        {
            <li><a href="/ItemTypePage/Details/@type.Id">@type.Type</a></li>
        }
    </ul>
}
