@{

    @model IEnumerable<ItemType>
    <h3>Actions</h3>

    <a href="/">Back to Home</a>
	<a href="/ItemTypePage/New">Create New Item Type</a>

	<h3>Item Types</h3>

    <ul>
        @foreach (var type in Model)
        {
            <li><a href="/ItemTypePage/Details/@type.Id">@type.Type</a></li>
        }
    </ul>
}
