
@{

	<h1>Create a new Item Type: </h1>
	<form id="createType" method="post" action="/ItemTypePage/Create">
		<label for="type">Type: </label>
		<input name="type" id="type" type="text" />
		<button type="submit">Create Item Type</button>
	</form>
}
