
@{
	@model testapp.Models.User
	var user = Model;

	<h1>Are you sure you want to delete this Item? @user.Username</h1>

	<form method="post" action="/UserPage/Delete/@user.Id">

		<button type="submit">Delete</button>
	</form>
}
