@{

    @model IEnumerable<User>

	<h3>Actions</h3>
    <a href="/">Back to Home</a>
	<a href="/UserPage/New">Create New User</a>

	<h3>Users</h3>

    <ul>
        @foreach (var User in Model)
        {
            <li><a href="/Userpage/Details/@User.Id">@User.Username</a></li>
        }
    </ul>
}