@{

    @model IEnumerable<User>

	<a href="/UserPage/New">Create New User</a>

	<h2>Users</h2>

    <ul>
        @foreach (var User in Model)
        {
            <li><a href="/Userpage/Details/@User.Id">@User.Username</a></li>
        }
    </ul>
}