
@{

	<h1>Create a New User</h1>

	<form id="newUser" method="post" action="/UserPage/Create">
		<label for="username" >Username: </label>
		<input name="username" id="username" type="text"/>
		<label for="password">Password: </label>
		<input name="password" id="password" type="password" />
		<button type="submit">Create User</button>
		</form>


}
